In [1]:
#to print all elements of list: naive approach

a=[3,10,-1]
print(a[0])
print(a[1])
print(a[2])

3
10
-1

In [2]:
#if the list had 100 or 1000 elements, it would be tiresome to write that many print statments

#so we use fo loops

for element in a:
    print(element)

3
10
-1

In [3]:
b=["banana","apple","microsoft"]

for e in b:
    print(e)

banana
apple
microsoft

In [5]:
#to find sum of elements in a list
sum=0
for e in a:
    sum=sum+e
print(sum)

12

In [6]:
#lists of numbers from 1 to 10 can be created in a shortcut way rather than mentioning all the elements:1,2,3....
# we use range function to define a range of numbers example: range(1,5) contains 1 to 4 numbers, the last number is excluded
#list function is used to create list example: list(1,2,3)
# below we craete a list of range 1 to 5 (excluding 5)

c=list(range(1,5))

In [7]:
print(c)

[1, 2, 3, 4]

In [8]:
#range can also be used in for loop

for i in range(1,5):
    print(i)

1
2
3
4

In [10]:
#to get sum of 4 numbers
#shorthand operator += used for addition
total2=0
for i in range(1,5):
    total2+=i
print(total2)

10

In [11]:
print(list(range(1,8)))

[1, 2, 3, 4, 5, 6, 7]

In [13]:
#modulo operator-gives reminder after division of 2 numbers
print(4%3)

1

In [14]:
print(5%3)

2

In [16]:
print(6%3)

0

In [18]:
#sum of elements that are multiple of 3
total3=0
for i in range(1,8):
    if i%3 == 0:
        total3+=i
print(total3)

9

In [19]:
#compute all multiples of 3,5 in the range of 1 to 100

print(list(range(1,100)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [23]:
for i in range(1,100):
    if((i%3==0) or (i%5==0)):
        print(i)

3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50
51
54
55
57
60
63
65
66
69
70
72
75
78
80
81
84
85
87
90
93
95
96
99